flows (1).json
[{"id":"e1747f1a.1518c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"533ac615.b24958","type":"http in","z":"e1747f1a.1518c","name":"","url":"/index2","method":"get","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["819c1b6d.b8f018"]],"info":"# hello"},{"id":"e4d7b702.597548","type":"function","z":"e1747f1a.1518c","name":"getImages","func":"console.log(msg.payload)\n\nvar date = msg.payload[0].date\nvar year = \n\nmsg.payload = \"\"\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[[]]},{"id":"819c1b6d.b8f018","type":"http request","z":"e1747f1a.1518c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://epic.gsfc.nasa.gov/api/natural/all","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":60,"wires":[["e4d7b702.597548"]]},{"id":"394e6eb3.ff9582","type":"http response","z":"e1747f1a.1518c","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":710,"y":152,"wires":[],"info":"#hello"},{"id":"7dbbd380.2ca83c","type":"function","z":"e1747f1a.1518c","name":"getweather","func":"var obj = JSON.parse(msg.payload) \n\nconsole.log(msg.payload)\n\nvar precipitacao = obj.current.precip_mm;\nvar umidade = obj.current.humidity\nvar cidade = obj.location.name\nvar temperatura = obj.current.temp_c\nvar vento = obj.current.wind_kph\n\nconsole.log(cidade)\n\nmsg.payload = \"<img style='height: 200px; width='200px' src='https://epic.gsfc.nasa.gov/archive/natural/2020/05/28/png/epic_1b_20200528120834.png'> </img>\" + \"<h1>CITY: \" + cidade + \"</h1>\" + \"<p>TEMPERATURE: \" + temperatura + \" </p>\" + \"<p>WIND SPEED: \" + vento + \"km/h </p>\" + \"<p>HUMIDITY: \" + umidade + \" </p>\" + \"<p>PRECIPITATION: \" + precipitacao + \"mm </p>\"\n\nmsg.payload += \"<h2>COVID-19 DATA:</h2> <p>TOTAL DEATHS BY COVID-19</p> <p> NEW CASES</p> <p> DAILY CASES</p> <p> TOTAL CASES</p>\" \n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":152,"wires":[["394e6eb3.ff9582"]]},{"id":"7af8cc7c.9faed4","type":"http request","z":"e1747f1a.1518c","name":"","method":"GET","ret":"txt","paytoqs":true,"url":"http://api.weatherapi.com/v1/current.json?key=6e4fb3d1de3e4725b72162621203105","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":152,"wires":[["7dbbd380.2ca83c"]]},{"id":"e3becbca.17f018","type":"http in","z":"e1747f1a.1518c","name":"","url":"/clima","method":"get","upload":false,"swaggerDoc":"","x":100,"y":152,"wires":[["7af8cc7c.9faed4"]],"info":"# hello"},{"id":"46c52fc9.485e1","type":"http response","z":"e1747f1a.1518c","name":"","statusCode":"","headers":{"content-type":"text/html"},"x":510,"y":352,"wires":[],"info":"#hello"},{"id":"90f99b77.b09ec8","type":"http request","z":"e1747f1a.1518c","name":"","method":"GET","ret":"txt","paytoqs":false,"url":"https://www.figma.com/proto/RrKHFUemfcrYbw0C5OwUi2/Untitled?node-id=1%3A6&scaling=contain","tls":"","persist":false,"proxy":"","authType":"","x":310,"y":352,"wires":[["46c52fc9.485e1"]]},{"id":"fbd1800d.6c402","type":"http in","z":"e1747f1a.1518c","name":"","url":"/connectvid","method":"get","upload":false,"swaggerDoc":"","x":120,"y":352,"wires":[["90f99b77.b09ec8"]],"info":"# hello"},{"id":"b9fe296b.9c1a68","type":"http in","z":"e1747f1a.1518c","name":"","url":"/index","method":"get","upload":false,"swaggerDoc":"","x":100,"y":252,"wires":[["e359e1c3.3259f"]]},{"id":"e359e1c3.3259f","type":"function","z":"e1747f1a.1518c","name":"msg.url = \"mysitepost\";","func":"msg.url = \"mysitepost\";\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":252,"wires":[["e90db826.fb22f8"]]},{"id":"19263c87.ea8c43","type":"template","z":"e1747f1a.1518c","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"/* connectvid 1 */\n\n#connectvid {\n    position: absolute;\n    width: 742px;\n    height: 587px;\n    left: 0px;\n    top: 54px;\n}\n\nimg {top: 100px;\n    margin-top: 40px;\n    margin-left: -10px;\n    left: -10px;\n    width:600px;\n    height: 500px;\n}\n\n\nform {position: absolute;\nleft: 69.51%;\nright: 23.75%;\nbox-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);\ntop: 36.48%;\nbottom: 50%;\npadding-top: 20px;\npadding-left: 20px;\nheight: 200px;\nwidth:300px;\n}\n\n#q {width: 200px; height: 50px}\n\n/* O ConnectVid é uma plataforma única que reúne dados ambientais e dados de saúde para o combate à Covid-19. */\n#bottom_text {\nposition: absolute;\nwidth: 1150px;\nheight: 101px;\nleft: calc(50% - 1150px/2);\ntop: calc(48% - 91px/2 + 258.5px);\n\nfont-family: Stardos Stencil;\nfont-style: normal;\nfont-weight: normal;\nfont-size: 24px;\nline-height: 20px;\n\n/* or 71% */\ntext-align: center;\nletter-spacing: 0.4px;\n\ncolor: #3375D7;\n}\n\n\n/* Rectangle 1 */\n#retangulo1 {\nposition: absolute;\nwidth: 100%;\nheight: 54px;\nleft: 0px;\ntop: 0px;\nmargin-left: -10px;\nbackground: #000000;\nmix-blend-mode: normal;\nborder: 1px solid #000000;\nfilter: blur(4px);\n}\n\n/* Buttons / Contained / Enabled */\n#buttom{\nposition: absolute;\nleft: 69.51%;\nright: 23.75%;\ntop: 46.48%;\nbottom: 50%;\nheight:50px;\nwidth:50px;\n}\n\n\n/* search 1 */\n#search{\nposition: absolute;\nwidth: 200px;\nheight: 60px;\nleft: 960px;\ntop: 325px;\n\n}","x":750,"y":252,"wires":[["1a5b4d06.bec573"]]},{"id":"e90db826.fb22f8","type":"template","z":"e1747f1a.1518c","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"\n","x":570,"y":252,"wires":[["19263c87.ea8c43"]]},{"id":"71ba2903.b1f0e8","type":"http response","z":"e1747f1a.1518c","name":"","statusCode":"","headers":{},"x":1050,"y":252,"wires":[]},{"id":"1a5b4d06.bec573","type":"template","z":"e1747f1a.1518c","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>ConnectVid</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=yes\">\n    <meta charset=\"utf-8\">\n    <style>{{{payload.style}}}</style>\n  </head>\n\n   <img src=\"https://i.ibb.co/BPyZYm9/connectvid.png\" alt=\"connectvid-port\" border=\"0\">\n    <form style=\"background: #fff;\" method=\"get\" action=\"/clima\"> \n    <label>City:</label>\n    <input type=\"text\" id=\"q\" name=\"q\">\n    \n    <input id=\"buttom\" type=\"submit\" value=\"Go\">\n    </form>\n    <div id=\"retangulo1\"></div>\n    <img id=\"search\" src=\"https://i.ibb.co/YWr8Qpx/search.png\">\n    <h1 id=\"bottom_text\">ConnectVid is an unique platform that gathers environmental and health data </br></br>to combat covid-19.</h1>\n    \n</body>\n</html>","x":890,"y":252,"wires":[["71ba2903.b1f0e8"]]},{"id":"ae39418c.01e7b","type":"comment","z":"e1747f1a.1518c","name":"Login Form","info":"","x":310,"y":1020,"wires":[]}]